/*
Colors used:
Primary Color (Gray - background): #fafafa;
Secondary Color (Turquese): #93CBC3;
white: #FFFFFF
black: #000000
*/
* {
box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  margin: auto;
}

header {
  background-color: #fafafa;
  padding: 10px 0;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.5);
  width: 100%;
  Text-align: center;
}

main {
  padding-top: 20px;
}

footer {
  text-align: center;
  bottom: 0;
  padding-top: 133px;
  padding: 10px 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Libre Caslon Text';
  line-height: 1.7;
}

h1 {
  font-size: 3em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

.gif {
  width: 75%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #93CBC3;
}

a:visited {
  color: ##ea8824;
}

a:hover,
a:focus {
  color: #93CBC3;
  text-decoration: underline;
}

a:active {
  color: ##93CBC3;
}

.logo {
  width: 100px;
}

.button {
  display: inline-block;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;
  text-decoration: none;
  background-color: transparent;
  color: #93CBC3;
  text-transform: uppercase;
  border: 2px solid #93CBC3;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.icon {
  display: inline-block;
  text-align: center;
  padding: 10px;
    padding-top: 35px;
  font-size: 3em}

/* Layout styling */
.container {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.row {
  margin: 25px 0;
}

.profile {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hero h1 {
  text-align: center center;
  background-color: #fafafa
}

#work {
  padding-top: 15px;
}

#footer {
  padding-top: 15px;
  padding-bottom: 15px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
  margin: 0 15px;
}

nav>ul>li>a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
